<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Test</title>
    </head>

    <body>
        <header>
            <div class="">
                <marrque>Header</marrque>
            </div>
            <div class="">Logo</div>
            <div class="">navigation</div>
        </header>

        <main>
            <section>
                <form class="form">
                    <input
                        id="name"
                        type="text"
                        name="input"
                        value=""
                        placeholder="Name"
                    />
                    <input type="submit" name="" value="submit" />
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <strong>Sentence_list</strong>
                    <br>
                    Agreement : <span class="agreement"></span><br />
                    Confidence : <span class="confidence"></span> <br />
                    Score : <span class="score"></span>
                    <br>
                    Text : <span class="text"></span>
                </div>
            </section>
        </main>

        <footer>
            <p>Footer</p>
        </footer>
    </body>
    <script>
        if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js').then(registration =>{
                console.log('SW registered successfuly: ', registration);
            });
        });
        }else{
        console.log("Service Working not supported");
            }
</script>
    <script src="/src/client/index.js"></script>
</html>
